**/result*/**
**/target/**
/.bin/**
/.vscode/**
/artifacts/**
/compile-env/**
/design-docs/src/mdbook/book/**
/design-docs/src/mdbook/src/mdbook-plantuml-img/**
/dev-env-template/**
**/__fuzz__/**
**.profraw
