[package]
name = "mgmt"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[dependencies]
async-trait = { workspace = true }
derive_builder = { workspace = true }
gateway_config = { workspace = true }
net = { workspace = true }
routing = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }    
tonic = { workspace = true }
tracing = { workspace = true }


