<!--
  ~ SPDX-License-Identifier: Apache-2.0
  ~ Copyright Open Network Fabric Authors
  -->

<!--
${EDIT_WARNING}
-->

<script>
    const katexStuff = () => {
        document.addEventListener("DOMContentLoaded", () => {
            for (const el of document.querySelectorAll("pre.language-math > code")) {
                const p = document.createElement("p");
                const outerSpan = document.createElement("span");
                const newSpan = document.createElement("span");
                newSpan.classList.add("katex-display");
                katex.render(el.innerText, newSpan, { throwOnError: true, displayMode: true });
                p.appendChild(outerSpan);
                outerSpan.appendChild(newSpan);
                el.parentNode.parentElement.replaceWith(p);
            }
            renderMathInElement(document.body, {
                delimiters: [
                    { left: "$$", right: "$$", display: true },
                    { left: "$", right: "$", display: false },
                ],
            });
        });
    };
</script>

<link rel="stylesheet" href="${KATEX_CSS_URL}" integrity="${KATEX_CSS_INTEGRITY}" crossorigin="anonymous" />

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="${KATEX_JS_URL}" integrity="${KATEX_JS_INTEGRITY}" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script
    defer
    src="${KATEX_AUTO_RENDER_URL}"
    integrity="${KATEX_AUTO_RENDER_INTEGRITY}"
    crossorigin="anonymous"
    onload="katexStuff();"
></script>

<!--
Sometimes the horizontal scrollbar is shown because the margins on the math are not quite right.
Fix with padding
-->
<style>
    .katex-display {
        padding: 0.2em 0.2em;
    }
</style>

<script defer src="${MERMAID_JS_URL}" integrity="${MERMAID_INTEGRITY}" crossorigin="anonymous"></script>
