[package]
name = "cli"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[dependencies]
colored = "3.0.0"
bincode2 = "2.0.1"
enum_primitive = "0.1.1"
log = { version = "^0.4.25", features = ["serde"]}
serde = {version = "1.0.217", features = ["derive", "serde_derive"]}
