:root {
    --target-icon: "»";
    --right-target-icon: "«";
    --target-icon-distance: 30px;
    --highlight: var(--warning-border);
    --fig-width: 50em;
}

html {
    scroll-behavior: smooth;
    --csl-left-margin-width: 2.5em;
}


[id*="citation/"] {
    line-break: strict;
    white-space: nowrap;
    break-inside: avoid;
}

.footnote-reference:has(:target),
a[id*="citation/"]:target {
    color: var(--highlight);
}

a[href*="#ref-note:"]::before {
    content: "⟨";
}

a[href*="#ref-note:"]::after {
    content: "⟩";
}

.footnote-definition::before {
    content: var(--target-icon);
    color: transparent;
    display: inline-block;
    margin-inline-start: calc(-1 * var(--target-icon-distance));
    width: var(--target-icon-distance);
}


.footnote-definition:target::before {
    content: var(--target-icon);
    color: var(--fg);
    display: inline-block;
    margin-inline-start: calc(0px - var(--target-icon-distance));
    width: var(--target-icon-distance);
}


.back-references a[href*="#ref-"],
.csl-left-margin a[href*="#ref-"] {
    font-size: revert;
    vertical-align: revert;
    user-select: unset;
}

.return-anchor::after,
.back-reference-source::before {
    content: "⮌";
    display: inline-block;
    margin-left: 0.2em;
}

.nav-wide-wrapper {
    display: none;
    width: 0;
    max-width: 0;
}

html > body.js.sidebar-hidden {
    font-size: 12pt;
}

#content.content > main {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 1200px;
    max-width: 95%;
}

.nowrap {
    white-space: nowrap;
}

.return-anchor::after {
    font-size: 66%;
    font-family: monospace;
}

.back-reference-source {
    font-size: 66%;
    vertical-align: super;
}

figure {
    padding-left: 0.5em;
    margin-inline: 0;
    width: max(200px, 50vw);
    max-width: max(200px, 100%);
}

figcaption {
    font-size: 0.8em;
    margin-top: 0.5em;
}

.footnote-definition-label {
    user-select: none;
    font-size: 66%;
}

.footnote-reference {
    font-size: 66%;
    user-select: none;
    position: relative;
    bottom: 0.5em;
}

.footnote-reference a::before,
.footnote-definition-label::before {
    content: "⎡";
}

.footnote-reference a:target,
.footnote-reference a:target::before,
.footnote-reference a:target::after,
.footnote-definition-label:target {
    color: var(--highlight);
}


.footnote-reference a::after,
.footnote-definition-label::after {
    content: "⎦";
    /*color: var(--links);*/
}

.footnote-definition,
.csl-entry {
    display: flex;
    flex-flow: nowrap row;
}

.footnote-definition > .footnote-definition-label {
    display: inline-block;
    width: var(--csl-left-margin-width);
}

.footnote-definition > p {
    max-width: calc(100% - var(--csl-left-margin-width));
}

.footnote-definition > p {
    margin-block-start: 0;
    margin-block-end: 0;
}

table {
    display: inline-block;
}

aside {
    font-size: 80%;
    float: right;
    display: block;
    max-width: 30vw;
    width: auto;
    min-width: 15vw;
    border-left: 1px solid var(--links);
    padding-left: 1%;
    margin-left: 1%;
}

dt {
    display: inline-block;
}

dt:target::before {
    content: var(--target-icon);
    margin-inline-start: calc(0px - var(--target-icon-distance));
    width: var(--target-icon-distance);
    display: inline-block;
}

dl.glossary > .definition {
    padding: calc(0.1 * var(--target-icon-distance));
}

dl.glossary > .definition:nth-child(even) {
    background: var(--table-alternate-bg);
}

dl.glossary dt::after {
    content: ":";
}

dd {
    margin-inline-start: var(--target-icon-distance);
}

.unset {
    color: var(--fg);
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.change del {
    text-decoration: wavy underline red;
}

.change del:hover {
    text-decoration: wavy underline red;
}

.change ins {
    text-decoration: unset;
}

.bubble {
    /*display: none;*/
    position: absolute;
}

.bubble.visible {
    display: revert;
}

.change {
    position: relative;
}


abbr[title] {
    text-decoration: unset;
}

p > a.ref-p:last-child::before {
    position: relative;
    content: "¶";
    opacity: 0.3;
    color: transparent;
    left: 0.5em;
    font-family: monospace;
    vertical-align: center;
}

p:focus > a.ref-paragraph:last-child::before,
p:target > a.ref-paragraph:last-child::before,
p > a:focus.ref-paragraph:last-child::before,
p > a:target.ref-paragraph:last-child::before,
p:hover > a.ref-paragraph:last-child::before {
    color: revert;
}


.content a:link:target {
    color: var(--highlight);
}

cite.reference {
    font-style: unset;
}

.blockcite-wrapper {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
}

.blockcite-wrapper > a.blockcite-anchor:last-child::after {
    position: relative;
    content: "#";
    opacity: 0.3;
    color: transparent;
    left: 0;
    font-family: monospace;
    vertical-align: center;
}

.blockcite-wrapper:has(.blockcite:target) > a.blockcite-anchor:last-child::after,
.blockcite-wrapper:hover > a.blockcite-anchor:last-child::after,
.blockcite-wrapper:focus > a.blockcite-anchor:last-child::after {
    color: revert;
}

p {
    margin-left: -1em;
    padding-left: 1em;
    border-left: 1px solid transparent;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}

p:target {
    border-left-color: var(--links);
}

figure > figcaption {
    margin-top: 0.0em;
    background: var(--table-alternate-bg);
    min-width: 30%;
    width: fit-content(100%);
}

.figure-label {
    font-weight: bolder;
    font-style: unset;
}

figure:target::before {
    content: var(--target-icon);
    display: inline-block;
    margin-inline-start: calc(-1 * var(--target-icon-distance));
    width: var(--target-icon-distance);
}

figure {
    border-left: 1px solid var(--links);
    width: fit-content;
}

a.figure-label, a.figure-label:visited, a.figure-label:target, a.figure-label:hover {
    text-decoration: unset;
    color: unset;
}

.footnote-definition:has(p > a:first-child:target)::before {
    content: var(--target-icon);
    color: var(--fg);
    display: inline-block;
    margin-inline-start: calc(0px - var(--target-icon-distance));
    width: var(--target-icon-distance);
}

a[href*="://"]::after {
    content: "\f08e";
    font-family: FontAwesome, serif;
    /*vertical-align: super;*/
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    font-size: smaller;
    padding-left: 3px;
}
