[package]
name = "dataplane-routing"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[features]
auto-learn = []
testing = []

[dependencies]
ipnet = { workspace = true }
iptrie = { workspace = true }
left-right = { workspace = true }
mio = { workspace = true, features = ["os-ext", "net"] }
net = { workspace = true }
serde = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
dplane-rpc = { workspace = true }
bytes = { workspace = true, features = ["serde"] }
cli = { workspace = true }

[dev-dependencies]
serde_yml = { workspace = true }


